* {
    padding: 0;
    margin: 0;
}

.content{
    background: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}

.wrapper {
    padding: 0 10px;
}

.track_name{
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.band_name{
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 1px;
    opacity: 70%;
}
.links{
    margin: 25px auto 0;
    background: white;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}
.Social{
    margin: 25px auto 0;
    background: white;
    display: flex;
    justify-content: space-around;
    max-width: 900px;
}
.social-buttons{
    margin: 25px auto 0;
    background: white;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
}
a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 800px) {
    .links {
        flex-direction: column;
        align-items: center;
    }

    a {
        margin: 0 0 5px 0;
    }
}
